.skills-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0 300px 200px 300px;
}

.skills-title {
  font-size: 50px;
  font-weight: 400;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.skills-list li {
  list-style: none;
}

@media (max-width: 1800px) {
  .skills-wrapper {
    padding: 0 100px 200px 100px;
  }
}

@media (max-width: 1300px) {
  .skills-wrapper {
    padding: 0 30px 50px 30px;
  }
}