.svg-icon {
  padding: 40px;
  border-radius: 10px;
  fill: var(--white);
  background-color: var(--gray);
  box-shadow: 0 0 40px 15px color-mix(in srgb, var(--green), transparent 80%);
  transition: 0.5s ease-in-out;
}

.svg-icon:hover {
  fill: var(--green);
}