.education-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0 300px 200px 300px;
}

.education-title {
  font-size: 50px;
  font-weight: 400;
}

.education-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.education-list li {
  width: 400px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--gray);
  list-style: none;
  border-radius: 10px;
  border: 1px solid var(--green);
  transition: all 0.3s ease-in-out;
}

.education-list li:hover {
  scale: 1.05;
}

.education-list li a {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: color-mix(in srgb, var(--green), transparent 85%);
  color: var(--green);
  border: 1px solid color-mix(in srgb, var(--green), transparent 50%);
  border-radius: 50px;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s ease;
}

.education-list li a:hover {
  background-color: var(--green);
  color: #fff;
  box-shadow: 0 0 20px var(--green);
}

.education-year {
  font-size: 20px;
  color: var(--green);
}

.education-course {
  font-size: 30px;
  font-weight: 400;
}