.work-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0 300px 200px 300px;
}

.work-title {
  font-size: 50px;
  font-weight: 400;
}

.work-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
}

.work-list>li {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 40px;
}

.project-number {
  font-size: 70px;
  color: var(--green);
}

.project-title {
  font-size: 35px;
  margin: 20px 0;
}

.project-description {
  font-size: 20px;
}

.project-features li::marker {
  color: var(--green);
  font-size: 25px;
}

.project-stack {
  margin: 20px 0;
  color: var(--green);
}

.project-links {
  display: flex;
  gap: 20px;
}

.project-icon {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--green), transparent 85%);
  color: var(--green);
  border: 1px solid color-mix(in srgb, var(--green), transparent 50%);
  transition: all 0.3s ease;
}

.project-icon:hover {
  background-color: var(--green);
  color: #fff;
  box-shadow: 0 0 20px var(--green);
}

@media (max-width: 1800px) {
  .work-wrapper {
    padding: 0 100px 200px 100px;
  }
}

@media (max-width: 1300px) {
  .work-wrapper {
    padding: 0 50px 50px 50px;
  }
}