.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 0 300px 200px 300px;
}

.about-title {
  font-size: 50px;
  font-weight: 400;
}

.about-wrapper p {
  font-size: 20px;
  text-align: center;
  line-height: 2;
}

@media (max-width: 1800px) {
  .about-wrapper {
    padding: 0 100px 100px 100px;
  }
}

@media (max-width: 1300px) {
  .about-wrapper {
    padding: 0 50px 50px 50px;
  }
}